<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="./app.js"></script>
    <link rel="stylesheet" href="./app.css">
    <title>Signup</title>
</head>
<body ng-app="signupForm">
    <div class="container d-flex justify-content-center">
        <div class="mt-5" ng-controller="formController">
            <h3>SIGNUP FORM</h3>
            <form name="signupForm" ng-submit="formSubmitted()" class="mt-5">
                <div class="mb-3">
                    <label for="firstname" class="form-label">First Name</label>
                    <input type="text" name="firstname" class="form-control" ng-model="firstName" ng-pattern="namePattern" required>
                    <span class="text-danger">
                        <span ng-show="signupForm.firstname.$error.pattern">Firstname should contain only letters</span>
                        <!-- <span ng-show="signupForm.firstname.$error.minlength">Firstname should be minimum 3 characters long</span> -->
                    </span>
                </div>
                <div class="mb-3">
                    <label for="lastname" class="form-label">Last Name</label>
                    <input type="text" name="lastname" class="form-control" ng-model="lastName" ng-pattern="namePattern" required>
                    <span class="text-danger">
                        <span ng-show="signupForm.lastname.$error.pattern">Lastname should contain only letters</span>
                    </span>
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input type="email" name="email" class="form-control" ng-model="email"  required>
                  <span class="text-danger">
                    <!-- <span ng-show="signupForm.email.$error.required">Please Enter Email Address</span> -->
                    <span ng-show="signupForm.email.$error.email">Please Enter a valid Email Address</span>
                  </span>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" name="password" class="form-control" ng-model="password" ng-pattern="passwordPattern" required>
                  <span class="text-danger">
                    <span ng-show="signupForm.password.$error.pattern">Password should be minimum 4 characters long.</span>
                  </span>
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                    <input type="password" name="confirmPassword" class="form-control" ng-model="confirmPassword" ng-pattern="passwordPattern" ng-keyup="isPasswordsMatched(confirmPassword)" required>
                    <span class="text-danger">
                        <span ng-show="ismatched || signupForm.confirmPassword.$dirty"
                        ng-class="{true:'text-success',false:'text-danger'}[ismatched]"
                        >Password {{ismatched==true?'':'not'}} matched</span>
                      </span>
                </div>
                <button type="submit" 
                value="Submit"
                class="btn btn-primary"
                ng-disabled="signupForm.firstname.$invalid || signupForm.lastname.$invalid || signupForm.email.$invalid || signupForm.password.$invalid || signupForm.confirmPassword.$invalid" 
                >Submit</button>
            </form>
        </div>
    </div>
</body>
</html>